@model WebApplication1.Areas.Catalog.Entites.Article

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<p>
    @Ajax.ActionLink("Edit", "Edit", new { id = (int)Model.Id }, new AjaxOptions() { UpdateTargetId = "articles" }) |
    @Ajax.ActionLink("Back to List", "GetListInCategory","Category",new { categoryId = Model.Category.Id}, new AjaxOptions() { UpdateTargetId = "articles" })
</p>
